[Unit]
Description=Midjourney Consumer Service
After=midjourney-bot.service

[Service]
Type=simple
User=molook
WorkingDirectory=/home/molook/projects/midjourney
ExecStart=/home/molook/projects/midjourney/venv/bin/python bot_task.py
StandardOutput=file:/home/molook/projects/midjourney/bot.log
StandardError=inherit
Restart=always


[Install]
WantedBy=multi-user.target
